@import "./variables.module.scss";

.search {
  position: relative;
  width: 900px;
  padding: 5px;
  background-color: white;
  border: 2px solid $pink-color;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 10px;

  input {
    padding: 15px 15px;
    width: 800px;
    font-size: 1.25rem;
    color: $primary-color;
    border: 0;
    font-family: "Nunito", sans-serif;

    &:focus {
      outline: none;
    }
  }

  .search__icon {
    font-size: 40px;
  }

  ul {
    position: absolute;
    top: calc(100% + 10px);
    width: 100%;
    padding: 5px 15px;
    margin: 0;
    list-style: none;
    border: 2px solid blue;
    border-radius: 10px;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    li {
      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }

      a {
        display: block;
        text-decoration: none;
        color: $primary-color;
        font-weight: 500;
        transition: all 0.3s ease;
        width: 100%;
        padding: 10px 0;

        &:hover {
          color: white;
        }
      }
      &:hover{
        background-color: $secondary-color;
      }
    }
  }


  &__noResults {
    padding: 15px 0;
  }
}
