@import "./variables.module.scss";

.today {
  border-radius: 10px;
  color: $text-color;

  &__inner {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    &__desc {
      margin-bottom: 15px;
    }
  }

  &__sunTimes {
    display: flex;
    padding: 25px;

    > div {
      &:not(:last-child) {
        margin-right: 20px;
      }

      span {
        display: block;
      }
    }
  }

  &__iconWrapper {
    padding: 10px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
}
