@import "./variables.module.scss";

.current {
  border-radius: 10px;
  color: $text-color;

  &__inner {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    &__day{

      margin-bottom: 20px;
      font-size: 2em;
      text-decoration: underline;

    }

  }

  &__sunTimes {
    display: flex;
    padding: 25px;

    > div {
      &:not(:last-child) {
        margin-right: 20px;
      }

      span {
        display: block;
      }
    }
  }

  &__iconWrapper {
    padding: 10px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
}
